.App-block,
.App h2 {
	width: 600px;
	margin: 0 auto;
}

.App-block {
	background: #fff;
	padding: 1rem;
	margin: 1rem auto 2rem;
}

.App-preview {
	padding: 1rem 0;
	margin-bottom: 2rem;
}

.App-preview.dark {
	background: #444;
	color: #fff;
}

.App-preview iframe {
	margin: 1rem auto 0;
	display: block;
}

.App textarea {
	width: 100%;
	height: 8rem;
	resize: none;
	padding: 0.5em;
	border: 1px solid #d7dade;
}

.App-preview-title {
	width: 600px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.App-preview-bg-note {
	font-size: 0.7em;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

.App button {
	margin-left: 1rem;
	background: #46b450;
	color: #fff;
	font-size: 0.8rem;
	padding: 0.5em;
	border: 1px solid #46b450;
	border-radius: 3px;
}

.App button:active,
.App button:focus {
	border-color: #328540;
}

.App-copy-code iframe {
}
